recursive-include wazo_plugind_admin_ui_conference_official/templates *
recursive-include wazo_plugind_admin_ui_conference_official/static *
recursive-include wazo_plugind_admin_ui_conference_official/translations *
