{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb(_('Conferences'), '', 'compress', ['List']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers(_('Conferences'), 'compress') %}
      {% call build_list_table() %}
        {% call build_list_table_headers() %}
          <th>{{ _('Name') }}</th>
          <th>{{ _('Extension') }}</th>
          <th>{{ _('PIN') }}</th>
          {{ add_list_table_header_action() }}
        {% endcall %}
        {% call(conference) build_list_table_rows(resource_list['items']) %}
          <td>{{ conference.name }}</td>
          <td>
            {% for extension in conference.extensions %}
              <strong>{{ _('internal') }}:</strong> {{ extension.exten }}
            {% endfor %}
            {% for extensions in conference.incalls %}
              {% for extension in extensions.extensions %}
                <strong>{{ _('incall') }}:</strong> {{ extension.exten }}
              {% endfor %}
            {% endfor %}
            {{ '-' if not conference.extensions and not conference.incalls }}
          </td>
          <td>{{ conference.pin or '-' }}</td>
          <td>
            {{ add_edit_button(href=url_for('.ConferenceView:get', id=conference.id)) }}
            {{ add_delete_button(href=url_for('.ConferenceView:delete', id=conference.id)) }}
          </td>
        {% endcall %}
      {% endcall %}
    {% endcall %}

    {% call build_hidden_add_containers(_('Add Conference')) %}
      {% call build_form() %}
        {% call add_default_fields(form=form, submit_value=_('Add')) %}
          {{ render_field(form.name) }}
          {{ render_field(form.extensions[0].exten) }}
          {{ render_field(form.pin) }}
          {{ render_field(form.admin_pin) }}
          {{ render_field(form.announce_join_leave) }}
          {{ render_field(form.announce_user_count) }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>
{% endblock %}
